* {box-sizing: border-box;
}

#game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid black;
}

#titulo{
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}
#mark{
  position: relative;
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: white;
  color: white;
}

#playboard{
  position: relative;
  grid-column: 1 / 4;
  grid-row: 3;
  text-align: center;
  font-family: 'Oxanium';
}

#idiomas{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#bandera-ing:hover{
  width: 250px;
  height: 250px;
  cursor: pointer;
}

#bandera-it:hover{
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.correcion{
  position: absolute;
  text-align: left;
  background-color: rgb(184, 242, 139);
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid LimeGreen;
  display: none;
  color: rgb(88, 167, 0);
  font-size: 23px;
  font-weight: 500;
  font-family: 'Poppins';
}
.error, .error2, .error3, .error4, .error5, .error6, .error7, .error8, .error9, .error10{
  position: absolute;
  text-align: left;
  background-color: rgb(255, 193, 193);
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid red;
  color: rgb(234, 43, 43);
  font-size: 23px;
  font-weight: 500;
  font-family: 'Poppins';
  display: none;
}

.continuar1,.continuar2,.continuar3,.continuar4, .continuar5, .continuar6, .continuar7, .continuar8, .continuar9, .continuar10 {
  position: relative;
  font-size: 23px;
  background-color: rgb(88, 167, 0);
  border-radius: 5px;
  font-weight: bold;
  border: none;
  height: 30px;
  color: #fff;
  float: right;
}


button{
  background-color: #99ccff;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  height: 30px;
  color: #fff;
}

#play{
  font-size: 20px;
}


.pruebas, .pruebas1, .pruebas2{
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  height: 30px;
  color: black;
  border: 1px solid #e6e6e6;
}


input:focus {
  border: 2px solid #66ccff;
}
input{
  width: 310px;
  padding: 5px;
  border: 1px solid #ccc;
}

#titulo{
  font-family: 'Anton';
  font-size: 30px;
  color:  #c93659;
}



/* INICIO PREGUNTA1 */
#pregunta1{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
  font-family: 'Oxanium';

}
/* INICIO PREGUNTA2 */
#pregunta2{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;

}
.pruebas, .pruebas1, .pruebas2{
cursor: pointer;
font-family: 'Oxanium'
}

#input2, #input6, #input9{
  color: red;
  font-family: 'Oxanium'
}

/* INICIO PREGUNTA 3 */
#pregunta3{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}
.seleccionable{
  cursor: pointer;
  border: thin solid black;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  padding: 3px;
}

.seleccionado {
  font-size: 18px;
  border: 2px solid black;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  border: thin solid green;
}

/* INICIO PREGUNTA 4 */
#pregunta4{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 5 */
#pregunta5{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 6 */
#pregunta6{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 7 */
#pregunta7{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 8 */
#pregunta8{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 9 */
#pregunta9{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* INICIO PREGUNTA 10 */
#pregunta10{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

/* ITALIANO */
.error1it,.error2it, .error3it, .error4it, .error5it, .error6it, .error7it, .error8it, .error9it, .error10it{
  position: absolute;
  text-align: left;
  background-color: rgb(255, 193, 193);
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid red;
  display: none;
  color: rgb(234, 43, 43);
  font-size: 23px;
  font-weight: 500;
  font-family: 'Poppins';
}


.continuar1it, .continuar2it, .continuar3it, .continuar4it, .continuar5it, .continuar6it, .continuar7it, .continuar8it, .continuar9it, .continuar10it{
position: relative;
font-size: 23px;
background-color: rgb(88, 167, 0);
border-radius: 5px;
font-weight: bold;
border: none;
height: 30px;
color: #fff;
float: right;
}

.pruebas3it, .pruebas4it, .pruebas8it, .pruebas9it{
cursor: pointer;
font-family: 'Oxanium';
background-color: white;
border-radius: 5px;
font-weight: bold;
border: none;
height: 30px;
color: black;
border: 1px solid #e6e6e6;
}

#input3it, #input4it, #input8it, #input9it{
  color: red;
  font-family: 'Oxanium'
}

/* BREVE */
#breve-introduccion{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}


#intro{
  position: relative;
  right: 100px;
}

#pregunta1it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

li{
  display: inline-block;
}

#pregunta2it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta3it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta4it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta5it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta6it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta7it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta8it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta9it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}

#pregunta10it{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  display: none;
}


/* OTHERS */
.progress{
  background-color: #74d04c;
  color: #74d04c;
  border-radius: 5px;
}

#mark{
  border-radius: 5px;
  background-color: #e6e6e6;
}

#completado, #completadoit{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 30em;
  font-size: 20px;
  font-family: 'Poppins';
  display: none;
}



#back{
  background-image: url("giphy.gif");
  height: 10em;
}

#return, #returnit{
    font-family: 'Poppins';
  font-size: 20px;

}
